// Primary Colors
$primary-100: #E5F0FF !default;
$primary-200: #CCE1FF !default;
$primary-300: #B2D1FF !default;
$primary-400: #99C3FF !default;
$primary-500: #7FB3FF !default;
$primary-600: #66A5FF !default;
$primary-700: #4C95FF !default;
$primary-800: #3387FF !default;
$primary-900: #1977FF !default;
$primary:     #0069FF !default;

// Danger Colors
$danger-100:  #FBEFEF !default;
$danger-200:  #F6DFDF !default;
$danger-300:  #F2CFCF !default;
$danger-400:  #EDC0C0 !default;
$danger-500:  #E9AFAF !default;
$danger-600:  #E4A0A0 !default;
$danger-700:  #E09090 !default;
$danger-800:  #DB8080 !default;
$danger-900:  #D77070 !default;
$danger:      #D36161 !default;

// warning Colors
$warning-100: #FFF9E5 !default;
$warning-200: #FFF3CD !default;
$warning-300: #FFECB4 !default;
$warning-400: #FFE69B !default;
$warning-500: #FFE082 !default;
$warning-600: #FFDA6A !default;
$warning-700: #FFD350 !default;
$warning-800: #FFCD38 !default;
$warning-900: #FFC71F !default;
$warning:     #FFC107 !default;

// success Colors
$success-100: #EBFBFA !default;
$success-200: #D7F7F6 !default;
$success-300: #C3F2F1 !default;
$success-400: #B0EEEC !default;
$success-500: #9CE9E7 !default;
$success-600: #89E5E2 !default;
$success-700: #75E1DD !default;
$success-800: #62DCD8 !default;
$success-900: #4ED8D3 !default;
$success:     #3BD4CF !default;

// info Colors
$info-100:    #E7F6F8 !default;
$info-200:    #D0ECF1 !default;
$info-300:    #B9E3EA !default;
$info-400:    #A2DAE3 !default;
$info-500:    #8AD0DB !default;
$info-600:    #73C7D4 !default;
$info-700:    #5CBDCD !default;
$info-800:    #45B4C6 !default;
$info-900:    #2DABBF !default;
$info:        #17A2B8 !default;

// indigo Colors
$indigo-100:  #F1E5FF !default;
$indigo-200:  #E4CCFF !default;
$indigo-300:  #D6B2FF !default;
$indigo-400:  #C899FF !default;
$indigo-500:  #B97EFE !default;
$indigo-600:  #AD66FF !default;
$indigo-700:  #9F4CFF !default;
$indigo-800:  #9233FF !default;
$indigo-900:  #8419FF !default;
$indigo:      #7700FF !default;

// Shades of Grays
$white:       #fff    !default;
$gray-100:    #f8f9fa !default;
$gray-200:    #e9ecef !default;
$gray-300:    #dee2e6 !default;
$gray-400:    #ced4da !default;
$gray-500:    #adb5bd !default;
$gray-600:    #6c757d !default;
$gray-700:    #495057 !default;
$gray-800:    #343a40 !default;
$gray-900:    #212529 !default;
$black:       #000    !default;
